.field-group.diff {
  color: #ea4a36;
}
.field-group .field-val,
.field-group .field-sync-val {
  word-break: break-all;
}
.field-group .field-checkbox {
  text-align: center !important;
}
.field-group textarea {
  width: 100%;
  color: #ea4a36;
}
