.page-main{
	width: 99%;
	padding: 10px;
	box-sizing: border-box;
	border:1px solid gainsboro;
	border-radius: 4px;
	height: 120px;
}
.page-main .page_top li{
	list-style: none;
	width: 33%;
	height: 40px;
	float: left;
}
.page-main .page_top li span{
	color: #999999;
	font-family: "微软雅黑";
	font-size: 15px;
	margin-left: 15px;
	line-height: 40px;
}
.page-main .page_top li span.ask{
	color: #333333;
	font-size: large;
}
 .page-main .bottom{
 	width: 100%;
 }
.page-main dl dt{
	 border-top: 1px solid gainsboro;
	 font-size: 15px;
	 color: #999999;
	 text-indent: 5px;
}
.page-main dl dd{
	font-size: 20px;
	color: #333333;
	margin-bottom: 10px;
}
