.label_content_all{
  width: 70%;
  height:647px;
  display: inline-block;
}
.label_content{
  width: 100%;
  height:570px;
  border:1px solid #f2f2f2;
  display: inline-block;
}
.label_content .nav{
  margin-top: 15px;
}
.label_content .all_labels{
  width: 100%;
  height:500px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #f4f7fc;
}
.label_select_all{
  width: 27%;
  height:647px;
  border:1px solid #f2f2f2;
  display: inline-block;
  margin-right: 1%;
  float: right;
  background:#f4f7fc;
}
.label_select{
  width: 100%;
  height:570px;
  border:1px solid #f2f2f2;
  display: inline-block;
  /*margin-right: 1%;*/
  float: right;
  background:#f4f7fc;
}
.label_content .all_labels .label_only{
  width: 100%;
  padding:10px 5px 10px 15px;
  background: white;
  box-sizing: border-box;
  margin: 10px 0;
}
.label_content .all_labels .label_only:nth-last-child(1){
  width: 100%;
  padding:10px 5px 30px 15px;
  background: white;
  box-sizing: border-box;
  margin: 10px 0;
}
.label_content .all_labels .label_only span{
  display: block;
  line-height: 25px;
}
.label_content .all_labels .label_only .msg{
  padding-left: 12px;
  box-sizing: border-box;
}
.label_content .all_labels .label_only .label_different span{
  display: inline-block;
  padding: 0px 10px;
  box-sizing: border-box;
  background: #f4f7fc;
  margin: 10px 15px;
  border-radius: 2px;
  cursor: pointer;
  font-family: 微软雅黑;
}
.label_content .all_labels .label_only .label_birthday span{
  width: 142px;text-align: center;
}

.label_content .all_labels .label_only .label_different .label_msg{
  display: inline-block;
  position: relative;
}
.label_content .all_labels .label_only .label_different .label_msg label{
  position: absolute;
  top: 40px;
  left: 15px;
  padding: 2px 10px;
  box-sizing: border-box;
  background:#169bd5 ;
  color: white;
  z-index: 10;
  display: none;
  border-radius: 2px;
}










.label_content .all_labels .label_only .label_different span.active{
  background:#169bd5 ;
  color: white;
}
 .label_different .region_alls .region_msg label{
   display: inline-block;
   margin: 5px 15px;
}
.label_select .select_styles{
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  background: #169bd5;
  display: inline-block;
  font-size:14px;
  font-family: 微软雅黑;
}
.label_select .label_select_alls{
  height: 520px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.label_select .label_select_alls .only{
  display: inline-block;
  padding: 5px 15px;
  box-sizing: border-box;
  background: #f4f7fc;
  margin: 5px 6px;
  border-radius: 2px;
  cursor: pointer;
  font-family: 微软雅黑;
  position: relative;
}
.label_select .label_select_alls .only img{
  position: absolute;
  top:-5px;
  right: -5px;
}
.label_select .label_select_alls{
  margin-top: 10px;
}
.label_select_alls .select{
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  background: white;
  margin: 10px 0;
}
.label_select_alls .select .title{
  font-size: 14px;
  font-weight: bold;
  font-family: 微软雅黑;
}
.label_data{
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  }
#birthdayModal .modal-body .day span{
  display: inline-block;
  padding: 0px 10px;
  box-sizing: border-box;
  background: #f4f7fc;
  margin: 10px 15px;
  border-radius: 2px;
  cursor: pointer;
  font-family: 微软雅黑;
}
#birthdayModal .modal-body .day span.active{
  background:#169bd5 ;
  color: white;
}
.warning-box{
  color:red;
}
.warning-box1{
  color:red;font-weight: normal;
}
.numInput,.numDeci{
  width: 75px;height: 20px
}
/*新建会员标签*/
.inputVal {
  /*width: 100%;*/
  /*float: right;*/
  border-top: 1px solid #f2f2f2;
  margin-top: 10px;
}
.number_people {
  width: 21%;
  height: 63px;
  box-sizing: border-box;
  border: 1px solid #F2F2F2;
  border-radius: 3px;
  background: #F2F2F2;
  display: inline-block;
  text-align: center;
  float: right;
  margin-right: 40px;
}
.number_people span {
  display: inline-block;
  padding: 4px 6px;
  box-sizing: border-box;
  background: red;
  color: white;
  border-radius: 3px;
  font-size: 16px;
}

.number_people .title {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 20px;
}
.control-group {
  width: 100%;
  float: left;
}
.pd12{ padding: 12px}
.pd0{ padding: 0px !important;}
.number_people2 {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid #F2F2F2;
  border-radius: 3px;
  background: #F2F2F2;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  float: right;
  /*margin-right: 40px;*/
}
.number_people2 .title {
  font-size: 14px;
  /*margin-bottom: 10px;*/
  line-height: 80px;
}
.number_people2 span {
  display: inline-block;
  padding: 4px 6px;
  box-sizing: border-box;
  background: red;
  color: white;
  border-radius: 3px;
}

#deleteInfoModal table.sui-table.table-nobordered td{ text-align: center}
#deleteInfoModal table.sui-table.table-nobordered th{ text-align: center}
#editInfoModal table.sui-table.table-nobordered td{ text-align: center}
#editInfoModal table.sui-table.table-nobordered th{ text-align: center}
