.font{
  font-size: 10.5px;
  font-family: 'Microsoft Yahei';
}
.input-large{
  height: 20px;
}
.input-large{
  margin-right: 20px;
}
.select{
  margin-right: 10px;
}
.sui-table{
  width: 99%;
}
.btn_add{
  float: right;
  margin-right: 15px;
}

.add{
  margin-bottom: 3px;
  margin-right: 5px
}
.wenhao{
  margin-left: 5px;
}

.sui-table a{
  color: #12b7f5;
}

.center{
  text-align: center;
}

.center li{
  text-align: left;
  margin-left: 10%
}

.center a{
  text-align: left;
  margin-right: 20px;
}
.sui-modal-backdrop{
  background-color: #fff;
}



.modify{
  border: 0px;
  width: 440px;
  height: 220px;
}

.cancel{
  border: 0px;
  width: 440px;
  height: 190px;
}

.grid_name {
  margin: 25px 0px 10px 50px;
}

.grid_type {
  margin: 0px 0px 25px 50px;
}

.sui-modal .modal-header{
  height: 50px;
  background:#f4f7fc;
  padding: 0px 0px 0px 20px;
  margin: 0px;
  border: 0px;
}

.modal-title{
  line-height: 50px;
}

.notice{
  text-align: center;
  margin:40px 0px;
}

.notice img{
  margin-bottom: 30px;
}

.vipList{
  width: 380px;
  height: 370px;
  margin: 0px auto;
}

.storeList{
  width: 380px;
  height: 370px;
  margin: 0px auto;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border:0px;
}
.sui-tooltip .tooltip-inner {
  padding: 0px;
  text-decoration: none;
  text-align: left;
  font-weight: normal;
}

.sui-table.table-bordered th, .sui-table.table-bordered td {
  border: 1px solid #e6e6e6;
}
