.member_settings .tips{
  padding-left: 10px;
  box-sizing: border-box;
  display: block;
  border:1px solid #e1e6ed;
  width: 100%;
  height: 70px;
  background: white;
  border-top: 2px solid #12b7f5;
  color: #333;
}
.member_look{
  width: 47%;
  height:1000px;
  float: left;
}
.member_look .look_main{
  height: 933px;
  background: url("/templates/views/resource/public/images/phone.png");
  background-size: cover;
  position: relative;
  z-index: 100;
  border:1px solid #e1e6ed;
}
.member_settings{
  float: left;
  width: 47%;
  height: 944px;
  margin-left: 20px;
}
.member_settings .title,.member_look .title{
  line-height: 40px;
  font-size: 14px;
  color: #333;
}
.member_look .look_main .bg{
  width: 496px;
  height: 161px;
  position: absolute;
  top:108px;
  left: 15px;
}
.member_look .look_main .bg img{
  width: 100%;
  height: 100%;
}
.member_look .look_main .header{
  position: absolute;
  top:127px;
  left: 165px;
  z-index: 100;
  width: 200px;
  height: 100px;
  text-align: center;
}
.member_look .look_main .mkWords{
  display: inline-block;
  padding:0px 10px;
  box-sizing: border-box;
  border-left:2px solid white;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top:127px;
  left: 20px;
  z-index: 100;
}
.member_look .look_main .card_keys{
  width: 498px;
  height: 154px;
  position: absolute;
  top:266px;
  left: 15px;
  z-index: 1000;
  text-align: center;
}
.member_look .look_main .card_keys img{
  width: 100%;
  height: 100%;
}
.member_look .look_main .Title_words{
  width: 100%;
  height: 60px;
  position: absolute;
  top:384px;
  left: 0px;
  text-align: center;
  z-index: 1000;
  color: #666666;
  font-size:14px;
}
.member_settings .settings{
  width: 100%;
  height:460px;
  background: #f4f7fc;
  border: 1px solid #e1e6ed;
  padding: 15px;
  box-sizing: border-box;
}
.member_settings .settings .download{
  width:100%;
  height: 125px;
  background: white;
  text-align: center;
}
.member_settings .settings .change{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.member_settings .settings .haveChange{
  width:100%;
  height: 125px;
  text-align: center;
  overflow: hidden;
}
.member_settings .settings .haveChange a{
  background: white;
  color: #000;
}
#iconic_img{
  width: 800px;
}
#iconic_img li{
  width: 350px;
  height: 110px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  padding: 1px;
  box-sizing: border-box;
}
#iconic_img .clickImg{
  border:2px dotted #00A000;
}
