.lee_hide {
	display:none !important;
}
.tile-pic,.tiles-icon {
  margin-right: 0;
}
.tiles-mar {
  margin: 0 -11px 0 -2px;
}
.tile-pic .tile {
  width: 100% !important;
  height: 197px;
  margin-right: 0;
}
.tile-pic .tile.image .tile-body > img {
  height: 100%;
  width: 100%;
}
.tile-pic-large .tile {
  height: 307px;
}
.tile-pic-large .tile.image .tile-body > img {
  height: 100%;
  width: auto;
}
.tiles-icon .tile {
  width: 48px !important;
  height: 48px;
}
.tiles .tile .tile-body {
  margin-bottom: 0;
}
.tiles .tile .tile-body img {
  margin-right: 0;
}
.tiles .tile-center {
  overflow: hidden;
}
.tiles-icon .tile.selected .check:after {
  z-index: 11;
  font-size: 10px;
  top: -3px;
  right: 0px;
}
.tiles-icon .tile.selected .corner:after {
  border-left: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #ccc;
  top: -3px;
  right: -3px;
  z-index: 10;
}
.tiles .tile {
  display: block;
  letter-spacing: 0.02em;
  float: left;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 20px;
  overflow: hidden;
  border: 4px solid transparent;
  margin: 0 10px 10px 0;
  width: 40px !important;
  height: 40px;
}
.tiles .tile:active, .tiles .tile.selected {
  border-color: #ccc !important;
}
.label-left {
	float: left;
	line-height: 34px;
	margin-right: 10px;
}
.label-center {
	overflow: hidden;
}
.btnFile {
	height: 34px;
	line-height: 34px;
	border: 1px solid #e5e5e5;
	width: 75px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.btnFile:before {
	content: '上传图片';
	display: inline-block;
	height: 34px;
	line-height: 34px;
	width: 75px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: pointer;
}
.btnFile input[type=file] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 6px 0;
	cursor: pointer;
}
.margin-left-10 {
	margin-left: 10px;
}
.panel-title {
	color:white;
}
/* .index_element {
	width:42%;
	height:200px;
	background:url("../img/theme-default.png");
	background-position: center;
	padding:10px;
}*/
	.index_element:hover {
	opacity: 0.7;
}
.index_element_a {
	padding: 93px 205px;
}
.index_element p {
	margin-top:20%;
	text-align: right;
}
.index_element .btn {
	border-radius: 10px !important;
}
.new-index .page-content {
	font-family: "黑体";
	background-color: #f0f0f0;
	margin-left:0;
	padding-top: 0.3%;
}
.new-index .index-title {
	height:55px;
	text-align: center;
}
.new-index .index-title p {
	line-height: 30px;
}
.new-index .index-content {
	font-family: "黑体";
	margin-top:20px;
}
.new-index .menu-content {
	border-spacing: 5px;
	border-collapse: separate;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
}
.new-index .menu-content h3 {
	color: white;
	font-family: "黑体";
	margin-top: 15px;
	font-size: 18px;
}
.new-index .menu-content td {
	background-color: white;
	width:110px;
	height:100px;
}
.new-index .menu-content .menu-pic {
	width:200px;
	height:200px;
}
.new-index .basic-element {
	cursor:pointer;
	text-align:center;
	position:relative;
}
.new-index .shade_div {
	background:#999;
	width:100%;
	height:100px;
	position:absolute;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.new-index .shade_div img {
	width: 70px;
	height: 70px;
	margin-top:10px;
}
.new-index .shade_div span {
	padding:10px;
	background:#fff;
}
.new-index .mobile-content {
	border:1px solid #cccccc;
	width: 394px;
	height: 700px;
	background: url("../img/back_mobile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.new-index .mobile-content .edit-mobile-area {
	width:100%;
	margin-top:110px;
	max-height: 590px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #F3F3F3;
}
.new-index .mobile-content .icon_link_area .assortment {
	width: 99%;
	overflow: hidden;
	font-size: 12px;
	padding: 0 0;
	margin:auto auto;
}
.new-index .mobile-content .icon_link_area .assortment ul {
	margin: 0;
	margin-left: 0;
	padding-left: 0;
}
.new-index .mobile-content .icon_link_area .assortment ul li {
	width: 33.33%;
	float: left;
	list-style:none
}
.new-index .mobile-content .icon_link_area .assortment ul li div {
	display: block;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
}
.new-index .mobile-content .icon_link_area .assortment ul li div img {
	width: 30px;
	height: 30px;
}
.new-index .mobile-content .icon_link_area .assortment.assortment-two ul li {
	width: 48%;
	float: left;
	list-style:none;
	background-color: white;
	margin-left: 2%;
	margin-top: 2%;
}
.new-index .mobile-content .icon_link_area .assortment.assortment-two ul li div img {
	width: 30px;
	height: 30px;
}
.new-index .mobile-content .edit-area .element {
	margin:1px auto;
	text-align: center;
	padding-top:105px;
	margin-top: 2%;
	background: url("../img/back-img.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}
.new-index .mobile-content .edit-area .element.edit {
	border:2px dashed #ff846f;
}
.new-index .mobile-content .edit-area .element.has_content {
	width:98%;
	height:auto;
	margin:auto;
	margin-top: 2%;
	padding:auto;
	padding-top:4px;
	text-align: left;
	background: #fff;
  overflow:hidden;
}
.new-index .mobile-content .edit-area .element .element_title {
	padding:3px;
	font-size:18px;
	font-weight: bold;
}
.new-index .mobile-content .edit-area .element span {
	font-size: 12px;
	color:#999;
}
.new-index .mobile-content .goods_title {
	color: #3d4145;
	font-size: 12px;
	margin-bottom: 4px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.new-index .mobile-content .shop_price_span {
	color:#FF6600 !important;
	font-size:14px !important;
}
.new-index .mobile-content .market_price_span {
	text-decoration:line-through;
}
.new-index .mobile-content .add_to_cart_btn {
	background:#FF6600;
	color:#fff;
	padding:12px;
	font-size: 24px;
	border-radius: 4px;
	text-decoration: none;
}
.new-index .mobile-content .add_to_cart_btn.small {
	padding:3px;
	font-size:18px;
	border-radius: 4px;
}
.new-index .mobile-content .add_to_cart_btn.mini {
	font-size: 13px;
	padding: 3px;
	border-radius: 4px;
}
.new-index .mobile-content .imgarea {
	text-align: center;
}
.new-index .mobile-tool {
	position:absolute;
	top: 50%;
	left: 60%;
}
.new-index .mobile-tool div {
	line-height: 35px;
	border-radius: 24px !important;
	padding:5px 10px;
	color:#fff;
	text-align: center;
	margin-top:5px;
	cursor:pointer;
}
.new-index .mobile-tool .edit-element {
	background-color: #6caae3;
	border: 1px solid #6caae3;
}
.new-index .mobile-tool .edit-element:hover {
	opacity: 0.7;
}
.new-index .mobile-tool .moveup-element {
	background-color: #39cbbf;
	border: 1px solid #39cbbf;
}
.new-index .mobile-tool .moveup-element:hover {
	opacity: 0.7;
}
.new-index .mobile-tool .movedown-element {
	background-color: #ff9945;
	border: 1px solid #ff9945;
}
.new-index .mobile-tool .movedown-element:hover {
	opacity: 0.7;
}
.new-index .mobile-tool .del-element {
	background-color: #ff846f;
	border: 1px solid #ff846f;
}
.new-index .mobile-tool .del-element:hover {
	opacity: 0.7;
}
.new-index .set-content {
	width:400px;
	min-height: 540px;
	padding:10px;
	background-color: white;
	margin-left:auto;
	margin-right: auto;
}
.new-index .set-content p {
	margin-top:4px;
}
.new-index .set-content .tips {
	text-indent: 5px;
	background:#6caae3;
	color: white;
	padding:2px;
}
.new-index .set-content .select_goods_div {
	min-height: 200px;
	border:1px dashed #ccc;
}
.new-index .set-content .only_show_goods_list {
	height: 150px;
	border:1px solid #999;
	text-align: left;
	overflow-y:auto;
	overflow-x:hidden;
	width:90%;
	padding:5px;
	margin-left:auto;
	margin-right: auto;
	margin-top:-30px;
  margin-bottom:13px;
}
.new-index .set-content .tmp_edit_btn {
	border-radius: 5px !important;
	background-color: #6caae3;
	margin-top:10px;
	margin-left:10px;
}
.new-index .set-content .tmp_edit_btn:hover {
	opacity: 0.7;
}
.new-index .set-content .title-tips {
	margin-top:15px;
	font-weight: bold;
	color: #909090;
}
.new-index .set-content .title-tips-add {
	padding-top:20px;
	clear:both;
}
.new-index .set-content .preViewIcon {
	width:70px;
	height:70px;
	margin-left:5px;
	padding:3px;
}
.new-index .set-content .add_pic_btn {
	padding:50px 29%;
	border:1px solid #ccc;
	margin-bottom: 80%;
	font-size: 24px;
	position:relative;
	display:block;
	text-decoration: none;
}
.new-index .set-content .add_pic_btn.small {
	padding:40px 5%;
	font-size: 18px;
	margin-bottom: 5px;
}
.new-index .set-content .add_pic_btn.mini {
	padding:35px 5%;
	font-size: 14px;
	margin-bottom: 10px;
}
.new-index .set-content .add_pic_btn.pic_btn {
	padding:0;
}
.new-index .set-content .img_shade {
	background:#999;
	width:100%;
	height:100%;
	position:absolute;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	padding-top:30%;
	color:#fff;
	font-size:24px;
}
.new-index .set-content .preview-goods-setting-btn,.new-index .set-content .preview-pic-setting-btn,.new-index .set-content .preview-pic-text-setting-btn {
	font-family: "黑体";
	background-color: #6caae3;
	border-radius: 5px !important;
	margin-top:20px;
	margin-left:20%;
}
.new-index .set-content .preview-goods-setting-btn:hover,.new-index .set-content .preview-pic-setting-btn:hover,.new-index .set-content .preview-pic-text-setting-btn:hover {
	opacity: 0.7;
}
.new-index .save-setting-btn {
	font-family: "黑体";
	background-color: #6caae3;
	border-radius: 5px !important;
	margin:auto auto;
	margin-top:20px;
	margin-left: 10%;
}
.new-index .save-setting-btn:hover {
	opacity: 0.7;
}
.new-index .center {
	text-align: center;
}
.new-index .radio {
	padding-top:2px !important;
}
.new-index .menu_pic {
	width:100px;
	height:100px;
}
.new-index .font16 {
	font-size: 16px !important;
}
.new-index .font12 {
	font-size: 12px !important;
}
.new-index .font10 {
	font-size: 10px !important;
}
.new-index .font9 {
	font-size: 9px !important;
}
.new-index .padding0 {
	padding:0 !important;
}
.new-index .text-large {
	width:350px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #ccc;
	height: 18px;
	line-height: 18px;
}
#modal-goods-render .text-small {
	width:150px;
}
#modal-goods-render .text-mini {
	width:100px;
}
#modal-goods-render .select_goods_table {
	margin-top:10px;
	width:100%;
	border-spacing:3px;
}
#modal-goods-render .select_goods_table_one {
	margin-top:10px;
}
#modal-goods-render td {
	padding:3px;
}
#modal-goods-render th {
	padding:3px;
}
#modal-goods-render .product_img,#modal-goods-render .product_img_tmp {
	border: 1px solid #CCCCCC;
	width:90px;
	height: 90px;
}
.go-back {
	background-color: #33bceb;
	width:24.4%;
	margin-right:0.3%;
}
.go-back p a {
	color: white;
	font-weight: bold;
	font-size: 14px;
}
.look-first {
	background-color: #39cbbf;
	margin-right: 0.3%;
	color: white;
	font-weight: bold;
}
.model-set {
	width: 33.333333%;
	background-color: #ff846f;
	color: white;
	font-weight: bold;
}
.blue {
	background-color: #6caae3;
}
.model-picword {
	margin-top: 10px;
}
.grey-cascade.btn {
	height: 40px;
	padding-top: 13px;
	margin-right: 5px;
}
.method_text {
	display: none;
}
.method_text_label {
	margin-bottom: -4px;
	padding-left: 17px;
	height: 17px;
	cursor: pointer;
	background: url("../img/method_text_label.png") no-repeat left top;
	display:inline-block;
}
.method_text_label_checked {
	margin-bottom: -4px;
	padding-left: 17px;
	height: 17px;
	cursor: pointer;
	background: url("../img/method_text_checked.png") no-repeat left top;
	display:inline-block;
}
.radio-inline {
	color: #A0A0A0;
}
.checkbox-inline {
	color: #A0A0A0;
}
::-webkit-scrollbar-thumb {
	background-color: #6caae3;
}
::-webkit-scrollbar {
	width: 12px;
}
.no-move {
	background-color: #f0f0f0;
	width: 99.5%;
	margin-top: -0.3%;
	padding-top: 0.3%;
}
.no-move-next {
	margin-top: 50px;
}
.dropdown-toggle {
	padding: 1px 10px 9px 10px !important;
}
.qs-row {
	margin-right:-15px;
	width: 100%;
}
.qs-row .qs-span1 {
	width:10%;
	display:inline-block;
}
.qs-row .qs-span2 {
	width:20%;
	display:inline-block;
}
.qs-row .qs-span3 {
	width:30%;
	display:inline-block;
}
.qs-row .qs-span35 {
	width:35%;
	display:inline-block;
}
.qs-row .qs-span4 {
	width:40%;
	display:inline-block;
}
.qs-row .qs-span45 {
	width:45%;
	display:inline-block;
}
.qs-row .qs-span5 {
	width:50%;
	display:inline-block;
}
.qs-row .qs-span6 {
	width:60%;
	display:inline-block;
}
.qs-row .qs-span7 {
	width:70%;
	display:inline-block;
}
.floatnone {
	float:none;
}
.floatright {
	float:right;
}
.marginleft0 {
	margin-left: 0;
}
.paddingtop18 {
	padding-top:18px !important;
}
.form-control {
	font-size: 14px;
	width:90%;
	height:30px;
	font-weight: normal;
	color: #333333;
	background-color: white;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.p-two-row {
	box-sizing: border-box;
	height: 35px;
	line-height:17px;
	word-break: break-all;
	overflow: hidden;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	color: #3d4145;
	font-size: 14px;
	position: relative;
	text-overflow: ellipsis;
}
